#search-criteria {
  margin: auto;
  width: 600px; 
}

#results-div {
    margin: auto;
    padding: 30px;
}

#results-listing {
    margin: auto;
    border: 20px;
}

#product-div {
    border: 10px;
    margin: auto;
}

label {
    font-weight: bold;
}

#star {
  display: inline;
  color: red;
}

#buttons {
  text-align: right; 
}

#search-button {  
  margin-right: 5px;
}

.gray {
    background-color: blue;
/*    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    padding: 20px;
    max-height: 200px;
    margin: 20px;
*/
}

#item-details {
    text-align: left;
    display: inline-block;
    float: right;
    max-width: 300px;
    height: 200px;
}

.btn {
    display: inline-block;
}

#p {
    font-weight: bold;
}
