#ebay-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#search-criteria {
  margin: auto;
  width: 600px; 
}

#star {
  display: inline;
  color: red;
}

#buttons {
  text-align: right; 
}

#search-button {  
  margin-right: 5px;
}
